body {
  background-color: black;
  color:#bfffd1;
  font-family: 'Arial', sans-serif;
  
}

h1{
    font-size: 42px;
    font-stretch: condensed;
}

h2 {
    color:#6e8f77;
    margin: 12px 0 12px 0;
}
hr {
    width: 100%;
    margin: 20px auto;
    border: none;
    border-top: .5px solid #bfffd1
}
.website-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 100vh;
    overflow: hidden;
}
.logo {
    width:20%;
}

.text-block-1 p {
    font-size: 20px;
}
.services-container {
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    gap: 16px;
}
.service {
    font-size: 18px;
    color: #bfffd1;
    background-color: #111613;
    padding: 6px 8px;
    justify-content: center;
    display: inline-flex
}
.call-to-action {
    width: 100%;
    color: #bfffd1;
    background-color: #111613;
    padding: 12px 0 12px 0;
    justify-content: center;
    display: inline-flex;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.call-to-action:hover {
    background-color: #6e8f77;
    color: #f1faf3;

}

.left-homepage {
    padding: 24px;
    height: 100vh;
    overflow-y: auto;
}

.right-homepage {
    height: 100vh;
    overflow: hidden;
    padding: 24px;
    will-change: transform;
    -ms-overflow-style:none;
    scrollbar-width:none;
}
.right-homepage::-webkit-scrollbar {
    display:none;   
}

.column-1-img {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 24px;
    padding: 8px  0 8px 0;
}
.column-1-img img {
    max-width: 100%;
    height: auto;
    object-fit:contain;
    min-width: 0;
    width: 100%;
}
.column-2-img {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 24px;
    padding: 8px 0 8px 0;

}
.column-2-img img {
    max-width: 100%;
    height: auto;
    object-fit:contain;
    min-width: 0;
    width: 100%;
    flex:1;
}
.column-2-img video {
    max-width: 100%;
    height: auto;
    object-fit:contain;
    min-width: 0;
    width: 100%;
    flex:1;
}
.column-3-img {
    display:flex;
    flex-direction:row;
    gap: 24px;
    padding: 8px 0 8px 0;
    flex:1;
}
.column-3-img img {
    max-width: 100%;
    height: auto;
    object-fit:contain;
    min-width: 0;
    width: 100%;
}


@media screen and (max-width: 768px) {
    .website-container {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        overflow: visible;
    }
    .left-homepage {
        height: 100%;
    }
    .logo {
        width: 25%;
    }
    h1 {
        font-size: 32px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1268px) {
    .website-container {
        display: grid;
        grid-template-columns:  1fr;
        height: auto;
        overflow: visible;
    }

   
    .logo {
     width: 40%;
    }

    h1 {
        font-size: 32px;
    }
}